<header>
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <a routerLink="/homepage" routerLinkActive="active">  <img src="../assets/img/logo.png" class="img-fluid mt-3"/>
              </a>
              </div>
          <div class="col-md-6">
            <ul class="menu-list mt-3">
                <li><a routerLink="/aboutus" routerLinkActive="router-link-active">aboutus</a></li>
                <li><a routerLink="/service" routerLinkActive="router-link-active">Service</a></li>
                <li> <a routerLink="/gallery" routerLinkActive="router-link-active">Gallrey</a> </li>
                <li> <a routerLink="/contactus" routerLinkActive="router-link-active">contact us</a></li>
                <li><a routerLink="/login" routerLinkActive="router-link-active" class="login-btn" role="button" aria-pressed="true">Login</a></li>
            </ul>
          </div>
      </div>
  </div>
</header>