<div class="about-banner">
</div>

<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Hello , I am pavan</h1>
                <p class="text-center">I am an experienced web designer with a relentless urge to create effective websites. With
                    my ability to stretch the boundaries of web design, I strive to deliver relevant content that helps
                    to set your business apart from the competition.Worked as a WebDesigner with skill set of <b>{{skills}}</b> </p>
             </div>
        </div>
    </div>
</section>