<div class="w-100">
  <img src="../../assets/img/banner.jpg" class="img-fluid"/>
</div>

<div class="container">
   <div class="row">
       <div class="col-md-12 mt-5 text-center">
            <h2>Hello, I am a pavan</h2>
            <hr/>
            <p><strong>Web Designer / UI developer with 6 years of experience in the design of innovative static and dynamic websites using current W3C coding standards. Very strong organizational, presentational, and communication skills to help plan out and pitch different web user interface styles to meet client expectations. </strong></p>
            <!-- <button (click)="getData()">Contact Me..!!</button> {{data.title}}-->
          </div>
   </div>
</div>

<div class="w-100">
<div class="container">
  <div class="row">
      <div class="col-md-4">
        <div *ngFor="let data of textfile">
         
        </div>
          
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
  </div>
</div>
</div>
