<div class="container-fluid">
    
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 border p-5 text-center">
            <img src="../../assets/img/website-design.png"/>
            <p> Website design and developement</p>
        </div>
        <div class="col-md-4 border p-5 text-center">
            <img src="../../assets/img/logo-design.png"/>
             <p>Logo and  banner design</p>
        </div>
         <div class="col-md-4 border p-5 text-center">
            <img src="../../assets/img/user-interface.png"/>
            <p>Mobile application development</p>
        </div>
     </div>
</div>