<div class="container mt-3">
  <form>
   <div class="row ">
       <div class="col-md-6 mt-3 ">
            <label> Please enter your name</label>
            <input type="text" class="form-control" placeholder="Enter your name"/>
       </div>
       <div class="col-md-6 mt-3">
        <label> Please enter your Email</label>
        <input type="text" class="form-control" placeholder="Enter your email"/>
       </div>
       <div class="col-md-6 mt-3">
        <label> Please enter your phone number</label>
        <input type="text" class="form-control" placeholder="Enter your phone number"/>
       </div>
       <div class="col-md-6 mt-3">
        <label> Please enter your skype ID</label>
        <input type="text" class="form-control" placeholder="Enter your skype ID (Optional)"/>
       </div>
       <div class="col-md-12 mt-3">
        <label> Please enter your message</label>
        <textarea type="text" class="form-control" placeholder="Enter your message"> </textarea>
       </div>
       <div class="col-md-12 mt-3 text-center">
        <button class="btn btn-primary mr-3"> Submit</button>
        <button class="btn btn-info" > Reset</button>
       </div>
   </div>
  </form>

</div>